@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.burger-menu {
  cursor: pointer;
}
.burger-menu > * {
  height: 4px;
  border: none;
}
.burger-menu > *:nth-child(1) {
  width: 34px;
}
.burger-menu > *:nth-child(2) {
  width: 26px;
  margin: 6px 0;
}
.burger-menu > *:nth-child(3) {
  width: 18px;
}
.burger-menu_close {
  position: relative;
}
.burger-menu_close > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 34px;
  border: none;
}
.burger-menu_close > *:nth-child(1) {
  transform: rotate(45deg);
}
.burger-menu_close > *:nth-child(2) {
  transform: rotate(-45deg);
}

.arrow {
  display: inline-block;
}

.down {
  transform: rotate(180deg) translate(0, 0.1em);
  -moz-transform: rotate(180deg) translate(0, 0.1em);
  -webkit-transform: rotate(180deg) translate(0, 0.1em);
  -o-transform: rotate(180deg) translate(0, 0.1em);
}

.right {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.left {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: 0;
}

.container {
  width: 85%;
  position: relative;
  margin: auto;
}

.center-absolute {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}

.logo {
  font-size: 40px;
}

.section-title {
  margin: 100px 0 50px 0;
}

.center-text-align {
  width: 100%;
  text-align: center;
}

.breadcrumb {
  font-size: 16px;
  margin: 38px 0 40px 0;
}
.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.breadcrumb li + li:before {
  padding: 8px;
  color: #E0BEA2;
  content: "> ";
}

.product-block {
  position: relative;
  width: 100%;
}
.product-block > * {
  text-align: center;
}
.product-block_like {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #E0BEA2;
  border-radius: 0 0 0 20px;
  padding: 10px 0;
}
.product-block_like:active {
  background: #CCA88A;
}
.product-block_like svg {
  width: 15px;
  height: 15px;
  fill: white;
}
.product-block_photo {
  width: inherit;
  margin-bottom: 15px;
}
.product-block .new-item {
  position: relative;
}
.product-block .new-item::after {
  content: "new";
  position: absolute;
  top: 0;
  right: -10px;
  transform: translate(100%, 0);
  color: #E0BEA2;
}
.product-block_size-list li {
  display: inline;
  opacity: 0.5;
}
.product-block_color-list li {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px #252525 solid;
  border-radius: 50%;
}
.product-block_name, .product-block_price, .product-block_size-list, .product-block_color-list {
  margin: 5px 0;
}

h3 {
  font-size: 20px;
  font-style: inherit;
  font-weight: 300;
}

input[type=button] {
  margin: 20px 0;
  background: #E0BEA2;
  color: white;
  border: none;
  cursor: pointer;
}
input[type=button]:active {
  background: #CCA88A;
}

.color {
  border: 1px solid #252525;
  width: 21px;
  height: 21px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.color_active {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid white;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 0 0 1px #252525;
  -moz-box-shadow: 0 0 0 1px #252525;
  box-shadow: 0 0 0 1px #252525;
}

.size-list {
  position: relative;
  width: 100%;
  border: 1px solid black;
}
.size-list select {
  appearance: none;
  padding: 15px 20px;
  outline: 0;
  border: none;
  width: inherit;
  height: 50px;
  cursor: pointer;
}
.size-list:after {
  content: "^";
  position: absolute;
  top: 10px;
  right: 22px;
  font-weight: 600;
  transform: rotate(180deg);
  color: #E0BEA2;
}

.nav-icon {
  width: 190px;
  display: flex;
  justify-content: space-between;
}
.nav-icon_elem {
  height: 25px;
  cursor: pointer;
}

.active-nav {
  color: #E0BEA2;
}

.header {
  position: relative;
}
.header .nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}
.header .nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-bar_navigation {
  width: 300px;
}
.header .nav-bar_navigation li:hover {
  opacity: 0.7;
}
.header .nav-bar .dropdown {
  width: 130px;
}
.header .nav-bar .extended {
  height: 100%;
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  z-index: 100;
  justify-content: left;
}
.header .nav-bar .extended ul {
  margin-left: 10%;
  width: 100%;
  justify-content: left;
}
.header .nav-bar .extended ul li {
  margin: 0 25px;
}
.header_photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0) 100%);
}
.header h1 {
  text-align: center;
  font-size: 46px;
}
.header .line {
  width: 120px;
  height: 1px;
  background: white;
  margin: 20px auto;
}
.header .link-new {
  text-align: center;
}

.main-page {
  color: white;
}
.main-page .nav-bar {
  position: absolute;
  top: 24px;
}
.main-page .burger-menu > * {
  background: white;
}
.main-page .burger-menu_close > * {
  background: white;
}
.main-page .logo {
  color: white;
}
.main-page .nav-icon_elem {
  fill: white;
}
.main-page .extended {
  height: 100%;
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  z-index: 100;
  justify-content: left;
}

.regular-page {
  color: black;
}
.regular-page .nav-bar {
  margin-top: 24px;
  position: relative;
}
.regular-page .burger-menu > * {
  background: #E0BEA2;
}
.regular-page .burger-menu_close > * {
  background: #E0BEA2;
}
.regular-page .logo {
  color: #E0BEA2;
}
.regular-page .nav-icon_elem {
  fill: #E0BEA2;
}
.regular-page .nav-icon .icon-search {
  fill: #252525;
}
.regular-page .extended {
  background: white;
}

@media screen and (max-width: 970px) {
  .nav-icon {
    width: fit-content;
  }
  .nav-icon > * {
    margin: 5px;
  }
  .header .nav-bar_navigation {
    width: 30%;
    margin: 5px;
  }
  .header .nav-bar .extended ul {
    margin-left: 10%;
  }
  .header .nav-bar .extended ul li {
    margin: auto;
  }
}
.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.slider_button {
  width: 40px;
  height: 40px;
  background: #E0BEA2;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1000;
  cursor: pointer;
}
.slider_button:hover {
  background: #CCA88A;
}
.slider_next {
  right: 20px;
}
.slider_prev {
  left: 20px;
}
.slider_card {
  height: 450px;
  position: relative;
  cursor: pointer;
}
.slider_name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: rgba(224, 190, 162, 0.75);
  backdrop-filter: blur(3px);
  line-height: 40px;
  font-size: 20px;
  color: white;
}

.news-subscribe {
  width: 600px;
  margin: auto;
}
.news-subscribe input {
  width: 100%;
  height: 50px;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #252525;
}
.news-subscribe p {
  text-align: center;
  color: #252525;
}

footer {
  margin: 100px 0 74px 0;
  height: 120px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
}
footer ul li {
  margin: 10px 0;
}
footer ul li:nth-child(1) {
  font-size: 20px;
  margin-bottom: 20px;
}

.svg-icon {
  width: 17px;
  height: 17px;
  fill: #E0BEA2;
}
.svg-icon:active {
  fill: #CCA88A;
}

.copyright {
  width: 100%;
  text-align: center;
  margin: 50px 0 0;
  padding-bottom: 10px;
}

.catalog {
  display: flex;
}
.catalog_list {
  width: 180px;
}
.catalog_list li {
  font-size: 16px;
  margin: 20px 0;
}
.catalog_list li:nth-child(1) {
  font-size: 20px;
  margin: 0 0 30px 0;
}
.catalog_list_mobile {
  display: none;
  position: relative;
  width: 100%;
  background: #E0BEA2;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.catalog_list_mobile:active {
  background: #CCA88A;
}
.catalog_list_mobile ul {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: #E0BEA2;
  top: 50px;
  border: 1px solid black;
}
.catalog_list_mobile ul li {
  border-bottom: 1px solid black;
}
.catalog_content {
  width: 100%;
}
.catalog_content .criteria {
  margin-bottom: 30px;
}
.catalog_content .criteria li {
  display: inline;
  margin-right: 34px;
}
.catalog_content .criteria .arrow {
  color: #E0BEA2;
}
.catalog_content .criteria_mobile {
  display: none;
  width: 100%;
  text-align: justify;
  position: relative;
  border-bottom: 1px solid black;
  margin: 15px 0;
  height: 30px;
  cursor: pointer;
}
.catalog_content .criteria_mobile svg {
  width: 11px;
  fill: #E0BEA2;
}
.catalog_content .criteria_mobile div {
  display: inline-block;
}
.catalog_content .criteria_mobile:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
.catalog_content .criteria_mobile .arrow {
  color: #E0BEA2;
}
.catalog_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 748px) {
  .catalog_list {
    display: none;
  }
  .catalog_list_mobile {
    display: block;
  }
  .catalog_content .criteria {
    display: none;
  }
  .catalog_content .criteria_mobile {
    display: block;
  }
}
@media screen and (max-width: 635px) {
  .catalog_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.product_photo-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100px 550px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  gap: 10px 10px;
  grid-template-areas: "side1 main" "side2 main" "side3 main" "side4 main" "side5 main";
  justify-items: stretch;
  align-items: stretch;
}
.product_photo-grid li {
  width: 100px;
  height: 100px;
}
.product_photo-grid li:nth-child(1) {
  grid-area: side1;
}
.product_photo-grid li:nth-child(2) {
  grid-area: side2;
}
.product_photo-grid li:nth-child(3) {
  grid-area: side3;
}
.product_photo-grid li:nth-child(4) {
  grid-area: side4;
}
.product_photo-grid li:nth-last-child(1) {
  grid-area: main;
  width: auto;
  height: 100%;
}
.product_photo-grid li img {
  object-fit: cover;
}
.product_content {
  width: 100%;
  padding: 0 0 0 50px;
}
.product_price {
  margin: 20px 0;
}
.product_color-name {
  color: #E0BEA2;
  margin: 10px 0 20px;
}
.product input[type=button] {
  width: calc(50% - 10px);
  height: 50px;
  margin-right: 15px;
}
.product button {
  width: calc(50% - 10px);
  height: 50px;
  border: 1px solid #252525;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: 20px;
}
.product button svg {
  height: 15px;
  width: 15px;
  fill: #E0BEA2;
}
.product button:active {
  background: #F5F5F5;
}
.product_details {
  width: 100%;
  border-bottom: 1px solid #252525;
  padding-bottom: 10px;
  margin: 20px 0;
}
.product_details-description {
  white-space: pre-line;
}
.product_details-title {
  cursor: pointer;
  text-align-last: justify;
  width: inherit;
}
.product_details-title span {
  display: inline-block;
}
.product_details > * {
  display: inline-block;
}
.product_details .arrow {
  color: #E0BEA2;
}

.product-more {
  margin-bottom: 70px;
}
.product-more h3 {
  margin-bottom: 30px;
}
.product-more_big .product-block {
  display: inline-block;
  width: 370px;
  margin-right: 15px;
}
.product-more_small .product-block {
  display: inline-block;
  width: 274px;
  margin-right: 15px;
}

@media screen and (max-width: 1199px) {
  .product_photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 63px;
    gap: 10px;
    grid-template-areas: "main main main main main" "side1 side2 side3 side4 side5";
  }
}
@media screen and (max-width: 1064px) {
  .product_photo-grid {
    grid-template-rows: 335px 63px;
  }
  .product_photo-grid li {
    width: 63px;
    height: 63px;
  }
  .product_photo-grid li:nth-last-child(1) {
    width: auto;
    height: 100%;
  }
  .product-more_small .product-block, .product-more_big .product-block {
    width: 165px;
  }
}
@media screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    justify-content: stretch;
  }
  .product_photo-grid {
    margin: auto;
    grid-template-rows: 335px 63px;
  }
  .product_photo-grid li {
    width: 63px;
    height: 63px;
  }
  .product_photo-grid li:nth-last-child(1) {
    width: auto;
    height: 100%;
  }
  .product_content {
    width: 100%;
    padding: 50px 0 0 0;
  }
}
.order h3 {
  margin: 30px 0;
}
.order_elem {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 95px 1fr 0.5fr 1fr 1fr 0.5fr 55px;
  grid-template-rows: 110px;
  grid-auto-flow: row;
  grid-template-areas: "photo name color size count price delete";
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  position: relative;
}
.order_elem > div {
  align-self: center;
  justify-self: center;
}
.order_elem > div:nth-child(1) {
  grid-area: photo;
  background: none;
}
.order_elem > div:nth-child(2) {
  grid-area: name;
  background: none;
}
.order_elem > div:nth-child(3) {
  grid-area: color;
  background: none;
}
.order_elem > div:nth-child(4) {
  grid-area: size;
  background: none;
}
.order_elem > div:nth-child(5) {
  grid-area: count;
  background: none;
}
.order_elem > div:nth-child(6) {
  grid-area: price;
  background: none;
}
.order_elem > div:nth-child(7) {
  grid-area: delete;
  background: none;
}
.order_photo {
  height: 110px;
}
.order_name {
  width: 100%;
  padding: 0 10px;
}
.order_id {
  position: absolute;
  top: 0;
  color: #E0BEA2;
}
.order_color {
  align-self: center;
}
.order .size-list {
  align-self: center;
}
.order .size-list select {
  padding: 16px 30px;
}
.order_count {
  display: flex;
  border: 1px solid black;
}
.order_count > * {
  width: 33px;
  height: 50px;
  border: none;
  background: none;
}
.order_count input[type=number] {
  -moz-appearance: none;
  margin: 0;
  text-align: center;
}
.order_count input[type=number]::-webkit-outer-spin-button,
.order_count input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order_count button {
  font-size: 20px;
  color: #E0BEA2;
  cursor: pointer;
}
.order_count button:active {
  color: #CCA88A;
}
.order_price {
  width: 100%;
  text-align: right;
}
.order_delete {
  width: 100%;
  text-align: right;
}
.order_delete svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: #E0BEA2;
}
.order_delete svg:active {
  fill: #CCA88A;
}
.order_sum {
  margin-top: 30px;
  width: 100%;
  text-align: right;
}

.ordering-form {
  margin-top: 70px;
}
.ordering-form_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.ordering-form_delivery-data {
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: fit-content(100%);
  grid-auto-columns: 1fr;
  gap: 20px;
  grid-auto-flow: row;
}
.ordering-form_delivery-data input {
  height: 50px;
  padding: 0 15px;
}
.ordering-form_delivery-data input[type=radio] {
  width: 18px;
  height: 18px;
  transform: translateY(0.3em);
}
.ordering-form .row_full {
  grid-column: 1/3;
}
.ordering-form_icon {
  height: 15px;
  width: fit-content;
  display: inline-block;
}
.ordering-form #private24-icon {
  height: 20px;
  transform: translateY(0.3em);
}
.ordering-form a {
  text-decoration: underline;
}
.ordering-form_link {
  margin-bottom: 20px;
}
.ordering-form .sign-in {
  color: #E0BEA2;
}
.ordering-form_delivery-submit {
  min-width: 300px;
  width: 300px;
}
.ordering-form_delivery-submit input[type=button] {
  height: 50px;
  width: 100%;
}
.ordering-form_total {
  display: inline-block;
  width: 100%;
  text-align: justify;
}
.ordering-form_total:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.ordering-form_total > div {
  display: inline-block;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .ordering-form_container {
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
  .ordering-form_delivery-data {
    margin-right: 0;
  }
  .ordering-form_delivery-submit {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 699px) {
  .order_elem {
    grid-template-columns: 95px 1fr 1fr 1fr 1fr;
    grid-template-rows: 55px;
    grid-auto-flow: row;
    gap: 5px;
    grid-template-areas: "photo name name name price" "photo color size count delete";
  }
}
@media screen and (max-width: 499px) {
  .ordering-form_delivery-data > * {
    grid-column: 1/3;
  }
  #title_delivery-international {
    grid-area: 10/1/11/2;
  }
  .order_count {
    display: flex;
    border: 1px solid black;
  }
  .order_count > * {
    width: 33%;
    height: 50px;
    border: none;
    background: none;
  }
  .order_size {
    width: 100%;
  }
  .order .size-list {
    align-self: center;
  }
  .order .size-list select {
    padding: 10px;
  }
  .order .size-list:after {
    right: 10px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: auto;
    margin: 0 20px;
  }
  .product-block .new-item::after {
    font-size: 14px;
    right: -5px;
  }
}
.no-display {
  display: none !important;
}

/*# sourceMappingURL=index.css.map */
